@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */
  --color-green-500: hsl(171, 66%, 44%);
  --color-blue-100: hsl(233, 100%, 69%);
  --color-gray-500: hsl(201, 11%, 66%);
  --color-gray-700: hsl(210, 10%, 33%);

  /* Typography */
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;

  --text-24-42: clamp(1.5rem, 1.1087rem + 1.9565vw, 2.625rem);
  --text-22-34: clamp(1.375rem, 1.1141rem + 1.3043vw, 2.125rem);

  /* Spacing */
    /* @link https://utopia.fyi/clamp/calculator?a=768,1240,16—48&p=spacing */
  --spacing-16-48: clamp(1rem, -2.2542rem + 6.7797vw, 3rem);

  /* Shadow */
  --shadow-btn-ios: 0px 1px 1px 2px hsl(169, 68%, 34%);
  --shadow-btn-mac: 0px 1px 1px 2px hsl(233, 44%, 55%);
}
